MIB Admissions Analysis.ipynb
MIB Admissions Analysis_eda_2.10.22.ipynb
.ipynb_checkpoints
MIB Admissions Analysis_eda_ib_3_11_22.ipynb
MIB Admissions Analysis_eda_magnet_3.11.22.ipynb
MIB Admissions Analysis_eda_v2_2.13.22.ipynb
MIB Admissions Analysis_eda_v3_2.15.22.ipynb
MIB Admissions Analysis_k_means_clustering_v1_2.22.22.ipynb
MIB Admissions Analysis_v2_2_7_22.ipynb
MIB Admissions Analysis_v3_2_8_22.ipynb